_ReSharper.JurassicCoffee
*.ReSharper.user
JurassicCoffee.suo
build
Source/JurassicCoffee.Core/obj
Source/JurassicCoffee.Core/bin
Source/JurassicCoffee.Console/obj
Source/JurassicCoffee.Console/bin
Source/JurassicCoffee.Web/obj
Source/JurassicCoffee.Web/bin
Source/JurassicCoffee.WebForms.Example/obj
Source/JurassicCoffee.WebForms.Example/bin
Nuget/Lib/net40/*.dll
Nuget/Lib/net35/*.dll
Nuget/*.nupkg