<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

  <appSettings>
    <add key="JurassicCoffee.CompiledDirectory" value="compiled-coffee"/>
  </appSettings>
  
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
      <httpHandlers>
        <add type="JurassicCoffee.Web.JurassicCoffeeHttpHandler,JurassicCoffee.Web" validate="false" path="*.coffee" verb="*" />
      </httpHandlers>
    </system.web>

  <system.webServer>
    <handlers>
      <add name="JurassicCoffeeHttpHandler" type="JurassicCoffee.Web.JurassicCoffeeHttpHandler,JurassicCoffee.Web" path="*.coffee" verb="*"/>
    </handlers>
  </system.webServer>

  <system.webserver>
    
  </system.webserver>

</configuration>
