<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

  <configSections>
    <section name="jurassic.coffee" type="JurassicCoffee.Web.Configuration.ConfigurationHandler, JurassicCoffee.Web"/>
  </configSections>
  
  <appSettings>
    <add key="JurassicCoffee.CompiledDirectory" value="compiled-coffee"/>
  </appSettings>

  <jurassic.coffee>
    <EnableCompression>true</EnableCompression>
    <CompiledDirectory>compiled-coffee</CompiledDirectory>
    <DebugMode>false</DebugMode>
  </jurassic.coffee>
    

  
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
      <httpHandlers>
        <add type="JurassicCoffee.Web.JurassicCoffeeHttpHandler,JurassicCoffee.Web" validate="false" path="*.coffee" verb="*" />
      </httpHandlers>
    </system.web>

  <system.webServer>
    <handlers>
      <add name="JurassicCoffeeHttpHandler" type="JurassicCoffee.Web.JurassicCoffeeHttpHandler,JurassicCoffee.Web" path="*.coffee" verb="*"/>
    </handlers>
  </system.webServer>

</configuration>
